ol{
    background-color: yellow;
}

li:nth-of-type(odd){
    text-transform: uppercase;
}

ol li:nth-of-type(even){
    color: green;
}

h1,h2{
    color: red;
}

h1, h2 em{
    font-size: 40px;
    border: 1px solid black;
}

li{
    font-size: 20px;
}

li em{
    font-weight: 900;
}

#linguagens li:not(:nth-child(n+4)){
    color: blue;
}

.pinkBackground{
    background-color: pink;
}

#aliados li:hover{
    font-weight: 900;
}

a[href*="stackoverflow"]:hover{
    color: orangered;
}

a[href*="w3schools"]:hover{
    color: green;
}

a[href*="developer.mozilla.org"]:hover{
    color:black;
}

a[href*="devdocs"]:hover{
    color: yellow;
}

a[href*="trybe"]:hover{
    color: green;
}