body{
    font-size: 16px;
}

h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

p{
    font-weight: 600;
    size: 3em;
}

ul{
    background-color: orange;
}

.customBg{
    background-color: orchid;
    color: white;
}

#yellowBg{
    background-color: yellow;
    color:black;
}
#redBg{
    background-color: red;
}
#brownBg{
    background-color: brown;
}